

<footer>
    {#<div class="footer-bottom" id="footer">#}
        {#<br>#}
        {#<span class="copyright">&copy; Happy Tweet 2018 All rights reserved</span>#}

    {#</div>#}
    <div class="mini-footer">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="copyright-text">
                        <p>© Happy Tweet 2018  All rights reserved

                        </p>
                    </div>

                </div>
            </div>
        </div>
    </div>
</footer>