

{#<footer>#}


    {#<div class="mini-footer">#}
        {#<div class="container">#}
            {#<div class="row">#}
                {#<div class="col-md-12">#}
                    {#<div class="copyright-text">#}
                        {#<p>© Happy Tweet 2019  All rights reserved#}

                        {#</p>#}
                    {#</div>#}

                {#</div>#}
            {#</div>#}
        {#</div>#}
    {#</div>#}
{#</footer>#}

<footer class="footer" id="footer">
    © Happy Tweet 2019 All rights reserved
</footer>
