
<header>


    <div class="header" id="header">
        <label for="show-menu" class="show-menu"  id="menuicon">MENU</label>
        <input type="checkbox" id="show-menu" role="button">

        <ul id="menu">
            <li class="ListMenu"><a href="#">ABOUT</a></li>
            <li class="ListMenu">
                <a href="#">CONTACT</a>
            </li>
            <li class="ListMenu">
                <a href="/login">LOG IN</a>
            </li>
            <li class="ListMenu"><a href="/register">REGISTER</a></li>
        </ul>
    </div>
</header>

